.bsp
ignore
.vagrant
logs
*.log
target
tmp
.history
dist
.idea
*.iml
/out
.idea_modules
.classpath
.project
.settings
.DS_Store
test-output/
*.class
.talismanrc

build

.vscode

# temp files
.~*
*~
*.orig

# eclipse
.scala_dependencies
.buildpath
.target
bin/
journal
snapshots
*.rdb
.bloop
.metals
.gradle
*/**/.kotlintest
out
