name: dev

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
    paths-ignore:
      - "scripts/**"
      - "tools/**"
      - "jenkins/**"
      - "notes/**"

jobs:
  build:
    runs-on: ubuntu-18.04
    env:
      PGDATA: /tmp/postgres

    steps:
      - uses: actions/checkout@v2
      - uses: laughedelic/coursier-setup@v1
        with:
          jvm: 11
          apps: sbt sbtn

      - name: Install Redis
        run: |
          wget http://download.redis.io/redis-stable.tar.gz
          tar xvzf redis-stable.tar.gz
          cd redis-stable
          make
          sudo cp src/redis-sentinel /usr/local/bin/

      - name: Install Kotlin
        run: |
          curl -s https://get.sdkman.io | bash
          source "/home/runner/.sdkman/bin/sdkman-init.sh"
          sdk install kotlin
          sudo ln -s $(which kotlinc) /usr/local/bin/kotlinc

      - name: Build
        run: |
          sbtn scalafmtCheck
          sbtn clean
          sbtn makeSite
          sbt -DenableFatalWarnings=true ';set every Seq(scalafmtOnCompile := false); test:compile; multi-jvm:compile;'
      
      - name: Install Postgres
        run: |
          sudo -i -u postgres
          echo "/usr/lib/postgresql/13/bin" >> $GITHUB_PATH
          /usr/lib/postgresql/13/bin/initdb -D /tmp/postgres
          chmod 0700 /tmp/postgres
          
      - name: Tests
        run: |
          sudo -i -u postgres
          sbt -Dakka.actor.serialize-messages=on -DenableCoverage=true -DgenerateStoryReport=true test:test

      - name: Coverage Report
        run: |
          sbt -DenableCoverage=true coverageReport
          sbtn coverageAggregate

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v2
        with:
          name: Coverage Report
          path: target/scala-2.13/scoverage-report

      - name: Multi-Jvm Tests
        run: sbt -DgenerateStoryReport=true esw-integration-test/multi-jvm:test

      - name: Generate RTM
        if: always()
        continue-on-error: true
        run: |
          cs launch --channel https://raw.githubusercontent.com/tmtsoftware/osw-apps/master/apps.json rtm:33b2359b23 -- target/RTM/testStoryMapping.txt tools/RTM/storyRequirementMapping.csv target/RTM/testRequirementsMapping.txt

      - name: Upload RTM
        if: always()
        continue-on-error: true
        uses: actions/upload-artifact@v2
        with:
          name: RTM
          path: target/RTM

      - name: Notify slack
        if: always()
        continue-on-error: true
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ job.status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ci-dev
