name: dev

on:
  workflow_dispatch:
  pull_request:
    branches: [master]
  push:
    branches: [master, 'branch-*']
    paths-ignore:
      - "scripts/**"
      - "tools/**"
      - "jenkins/**"
      - "notes/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: coursier/setup-action@v1.2.0-M2
        with:
          jvm: temurin:1.17
          apps: sbt
      - uses: coursier/cache-action@v6

      - name: Install Redis
        run: sudo apt-get install redis-server

      - name: Install Kotlin
        run: |
          curl -s https://get.sdkman.io | bash
          source "/home/runner/.sdkman/bin/sdkman-init.sh"
          sdk install kotlin 1.9.20
          sudo ln -s $(which kotlinc) /usr/local/bin/kotlinc

      - name: Build
        run: |
          sbt -Dsbt.log.noformat=true clean
          sbt -Dsbt.log.noformat=true scalafmtCheck
          sbt -Dsbt.log.noformat=true -DenableFatalWarnings=true makeSite
          sbt -Dsbt.log.noformat=true publishLocal

      - name: Unit Tests
        run: sbt -Dsbt.log.noformat=true -Dpekko.actor.serialize-messages=on -DenableCoverage=false -DgenerateStoryReport=false -DdisableIntegrationTests test:test

      - name: Integration Tests
        run: sbt -Dsbt.log.noformat=true -Dpekko.actor.serialize-messages=on -DenableCoverage=false -DgenerateStoryReport=false esw-integration-test/test:test

      - name: Multi-Jvm Tests
        run: sbt -Dsbt.log.noformat=true -DgenerateStoryReport=false esw-integration-test/multi-jvm:test

      - name: Notify slack
        if: always()
        continue-on-error: true
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ job.status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ci-dev
