name: dev

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
    paths-ignore:
      - "scripts/**"
      - "tools/**"
      - "jenkins/**"
      - "notes/**"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PGDATA: "/usr/local/var/postgres"

    steps:
      - uses: actions/checkout@v2
      - uses: laughedelic/coursier-setup@v1
        with:
          jvm: 11
          apps: sbt sbtn
      - uses: coursier/cache-action@v5

      - name: Install Redis
        run: sudo apt-get install redis-server

      - name: Install Postgres
        run: |
          sudo apt-get install postgresql-12
          sudo mv /usr/lib/postgresql/12/bin/postgres /usr/local/bin
          sudo mkdir /usr/local/var
          sudo mv /var/lib/postgresql/12/main/ /usr/local/var/postgres

      - name: Install Kotlin
        run: |
          curl -s https://get.sdkman.io | bash
          source "/home/runner/.sdkman/bin/sdkman-init.sh"
          sdk install kotlin
          sudo ln -s $(which kotlinc) /usr/local/bin/kotlinc

      - name: Build
        run: |
          sbtn scalafmtCheck
          sbtn clean
          sbtn makeSite
          sbt -DenableFatalWarnings=true ';set every Seq(scalafmtOnCompile := false); test:compile; multi-jvm:compile;'

      - name: Multi-Jvm Tests
        run: sbt -DgenerateStoryReport=true esw-integration-test/multi-jvm:test
